<openbox_menu>

<menu id="app-menu" label="Applications">
  <item label="Terminal">
    <action name="Execute" command="foot" />
  </item>
  <item label="Chromium">
    <action name="Execute" command="chromium" />
  </item>
  <item label="Gimp">
    <action name="Execute" command="gimp" />
  </item>
  <item label="Inkscape">
    <action name="Execute" command="inkscape" />
  </item>
  <item label="LMMS">
    <action name="Execute" command="lmms" />
  </item>
</menu>

<menu id="root-menu">
  <item label="Exit">
    <action name="Exit" />
  </item>
  <item label="Sleep">
    <action name="Execute" command="gale-sleep" />
  </item>
  <item label="Shutd_own">
    <action name="Execute" command="gale-shutdown" />
  </item>
  <item label="Reboot">
    <action name="Execute" command="gale-reboot" />
  </item>
</menu>

<menu id="game-menu">
  <item label="Steam">
    <action name="Execute" command="steam" />
  </item>
  <item label="Geometry Dash">
    <action name="Execute" command="steam steam://rungameid/322170" />
  </item>
  <item label="Prism Launcher">
    <action name="Execute" command="prismlauncher" />
  </item>
  <separator />
  <item label="Exit Steam">
    <action name="Execute" command="steam -shutdown" />
  </item>
</menu>

<menu id="open-menu">
  <item label="Canvas">
    <action name="Execute" command="open https://ufl.instructure.com" />
  </item>
  <item label="C_alendar">
    <action name="Execute" command="open https://ufl.instructure.com/calendar" />
  </item>
  <item label="Discord">
    <action name="Execute" command="open https://discord.com/channels/@me" />
  </item>
  <item label="Gmail">
    <action name="Execute" command="open https://gmail.com" />
  </item>
  <item label="Google _Keep">
    <action name="Execute" command="open https://keep.google.com" />
  </item>
  <item label="Google _Maps">
    <action name="Execute" command="open https://www.google.com/maps" />
  </item>
</menu>

</openbox_menu>
