#
# Readline configuration file
#
# Documentation:
#   - bash(1)
#   - readline(3)
#

# behavior
set editing-mode emacs
set show-all-if-unmodified on
set skip-completed-text on
set revert-all-at-newline on

"\C-r": re-read-init-file

# this also clears scrollback history
"\C-l": clear-display

# this makes going up and down in history behave more like vim,
# only select lines that match the current text
"\C-p": history-search-backward
"\C-n": history-search-forward

# vi-like convenience bindings
"\ea": beginning-of-line
"\ee": end-of-line
"\eh": backward-char
"\ej": history-search-forward
"\ek": history-search-backward
"\el": forward-char

"\e[": skip-csi-sequence
