/*
 * gale::link ~/.config/labwc/waybar.css
 */

* {
  font-family: system;
  font-size: 11pt;
  transition: none;
}

#waybar {
  background-image: linear-gradient(to right, #200030, #101018, #200030);
  color: #ffffff;
}

button {
  /* avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
}

.module {
  color: #ffffff;
  padding: 0;
  margin: 0 5px;
}

#bluetooth.connected {
  color: #00ffff;
}

#pulseaudio.muted {
  color: #ffe000;
}

#battery.charging {
  color: #00ffff;
}

#tray .active:hover {
  background-color: rgba(255, 255, 255, 0.25);
}
