/*
 * ::::| ~/.config/labwc/waybar.css
 */

* {
  font-family: system;
  font-size: 11pt;
  transition: none;
}

#waybar {
  background-image: linear-gradient(to right, #200030, #101018, #200030);
  color: #ffffff;
}

button {
  /* avoid rounded borders under each button name */
  -gtk-icon-effect: none;
  -gtk-icon-shadow: none;
  border: none;
  border-radius: 0;
  box-shadow: none;
  background-image: none;
}

.module {
  color: #ffffff;
  padding: 0;
  margin: 0 5px;
}

#taskbar button {
  padding: 0 5px;
  border-top: 2px solid transparent;
}

#taskbar button:hover {
  background-color: #400060;
}

#taskbar button.active {
  background-color: #400060;
  border-color: #e080ff;
}

#network.disconnected {
  color: #ffe000;
}

#bluetooth.connected {
  color: #00ffff;
}

#pulseaudio.muted {
  color: #ffe000;
}

#battery.discharging {
  color: #ffe000;
}

#tray .active:hover {
  background-color: rgba(255, 255, 255, 0.25);
}
