#
# gale-win-lf.desktop
#
# This file is part of Gale.
#
[Desktop Entry]
Type=Application
Name=Gale lf
GenericName=File Manager
Exec=gale-win-lf -- %f
Type=inode/directory
